{% extends "base.html" %}

{% block content %}
<title>team</title>
  <h2>enter the team composition</h2>
<form action="" method="post" novalidate>
    <p><input name="input1" type="text" placeholder="enter the name of hero"/>
    <input name="input2" type="text" placeholder="enter the name of hero"/>
    <input name="input3" type="text" placeholder="enter the name of hero"/>
    <input name="input4" type="text" placeholder="enter the name of hero"/>
      <input name="input5" type="text" placeholder="enter the name of hero" /></p>
    <p><input name="res" type="reset" value="clear the form"/>
      <input name="otp" type="submit" value="analyze the command"></p>
</form>
{% endblock %}