<!DOCTYPE html>
<html>

<head>
  <title>Heroes</title>
  <style>

    body{
      /*настраиваем шрифт*/
      font-family: Arial, Helvetica, sans-serif;
    }

    /*общие настройки сетки*/
    .grid {
      /*подключаем сетку*/
      display: grid;
      /*формируем строки и столбцы*/
      grid-template-columns: repeat(14, 100px);
      grid-template-rows: repeat(4, 50px);
    }

    /*внешний вид ячеек*/
    .grid > * {
      /*фоновый цвет*/
      background-color: #b5b5b5;
      /*скругление углов*/
      border-radius: 0px;
      /*расстояние от одной границы ячейки до другой*/
      margin: 5px;
    }
  </style>
</head>
      <h3>Strength</h3>
<body>
  <div class="grid">
    <div>Abaddon</div>
    <div>Alchemist"</div>
    <div>Axe</div>
    <div>Beastmaster</div>
    <div>Brewmaster</div>
    <div>Bristleback</div>
    <div>Centaur Warrunner</div>
    <div>Chaos Knight</div>
    <div>Clockwerk</div>
    <div>Dawnbrea ker</div>
    <div>Doom</div>
    <div>Dragon Knight</div>
    <div>Earth Spirit</div>
    <div>Earthshaker</div>
    <div>Elder Titan</div>
    <div>Huskar</div>
    <div>Io</div>
    <div>Kunkka</div>
    <div>Legion Commander</div>
    <div>Lifestealer</div>
    <div>Lycan</div>
    <div>Magnus</div>
    <div>Marci</div>
    <div>Mars</div>
    <div>Night Stalker</div>
    <div>Omniknight</div>
    <div>Phoenix</div>
    <div>Primal Beast</div>
    <div>Pudge</div>
    <div>Sand King</div>
    <div>Slardar</div>
    <div>Snapfire</div>
    <div>Spirit Breaker</div>
    <div>Sven</div>
    <div>Tidehunter</div>
    <div>Timbersaw</div>
    <div>Tiny</div>
    <div>Treant Protector</div>
    <div>Tusk</div>
    <div>Underlord</div>
    <div>Undying</div>
    <div>Wraith King</div>
  </div>
  <h3>Agility</h3>
  <div class="grid">
    <div>Anti-Mage</div>
    <div>Arc Warden</div>
    <div>Bloodseeker</div>
    <div>Bounty Hunter</div>
    <div>Broodmother</div>
    <div>Clinkz</div>
    <div>Drow Ranger</div>
    <div>Ember Spirit</div>
    <div>Faceless Void</div>
    <div>Gyrocopter</div>
    <div>Hoodwink</div>
    <div>Juggernaut</div>
    <div>Lone Druid</div>
    <div>Luna</div>
    <div>Medusa</div>
    <div>Meepo</div>
    <div>Mirana</div>
    <div>Monkey King</div>
    <div>Morphling</div>
    <div>Naga Siren</div>
    <div>Nyx Assassin</div>
    <div>Pangolier</div>
    <div>Phantom Assassin</div>
    <div>Phantom Lancer</div>
    <div>Razor</div>
    <div>Riki</div>
    <div>Shadow Fiend</div>
    <div>Slark</div>
    <div>Sniper</div>
    <div>Spectre</div>
    <div>Templar Assassin</div>
    <div>Terrorblade</div>
    <div>Troll Warlord</div>
    <div>Ursa</div>
    <div>Vengeful Spirit</div>
    <div>Venomancer</div>
    <div>Viper</div>
    <div>Weaver</div>
  </div>
  <h3>Intelligence</h3>
  <div class="grid">
    <div>Ancient Apparition</div>
    <div> Bane</div>
    <div>Batrider</div>
    <div>Chen</div>
    <div>Crystal Maiden</div>
    <div>Dark Seer</div>
    <div>Dark Willow</div>
    <div>Dazzle</div>
    <div>Death Prophet</div>
    <div>Disruptor</div>
    <div>Enchantress</div>
    <div>Enigma</div>
    <div>Grimstroke</div>
    <div>Invoker</div>
    <div>Jakiro</div>
    <div>Keeper of the Light</div>
    <div>Leshrac</div>
    <div>Lich</div>
    <div>Lina</div>
    <div>Lion</div>
    <div>Nature's Prophet</div>
    <div>Necrophos</div>
    <div>Ogre Magi</div>
    <div>Oracle</div>
    <div>Outworld Destroyer	</div>
    <div>Puck</div>
    <div>Pugna</div>
    <div>Queen of Pain</div>
    <div>Rubick</div>
    <div>Shadow Demon</div>
    <div>Shadow Shaman</div>
    <div>Silencer</div>
    <div>Skywrath Mage</div>
    <div>Storm Spirit</div>
    <div>Techies</div>
    <div>Tinker</div>
    <div>Visage</div>
    <div>Void Spirit</div>
    <div>Warlock</div>
    <div>Windranger</div>
    <div>Winter Wyvern</div>
    <div>Witch Doctor</div>
    <div>Zeus</div>
  </div>
</body>
</html>
